
.borderUp{
    border: 2px solid red;
}

.borderDown{
    border-bottom: 2px solid orange;
}

.borderRight{
    border-right: 2px solid orange;
}

.borderTop{
    border-top: 2px solid orange;
}

.minHeight{
    min-height: 450px;
}

.floatBottom{
    position: absolute;
    bottom: 10px;
}

.messageInput{
    width: "100%"
}

.sendButton{
    height: "100%";
    width: "100%";
}

.borderDown{
    margin: "0";
    border-bottom: "3px solid grey";
}